body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.header-section {
    background-image: url(images/donation7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(251, 248, 247);
    padding-bottom: 200px;
    padding-top: 150px;
    font-size: 27px;
    text-align: center;
}

.paragraph {
    color: gray;
}

.head {
    font-size: 80px;

}

.link-button {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: rgb(243, 76, 76);
}

.donate-section {
    text-align: center;
    font-size: 25px;

}



.flexible-container {

    color: rgb(80, 75, 75);
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;

}

.divide-width {
    width: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 15px;
    background-color: rgb(248, 243, 243);

}

.color-red {
    color: red;
    border: 2px solid red;
    background-color: rgb(246, 216, 235);
    border-radius: 10px;

}

.input {
    font-size: 25px;

    color: rgb(161, 157, 157);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(179, 178, 178);
    padding-bottom: 20px;
    text-align: center;
    width: 1060px;
    margin: 50px;
}

.input:focus {
    outline: none;

}


.new-flexible-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.box-divide {
    width: 30%;
    margin: 10px;
    padding: 40px;
    text-align: left;

}

.box-divide p {
    color: gray;
}

.box-divide img {
    padding-left: 2px;
    padding-right: 200px;
}

.box1 {
    font-size: 18px;
    background-color: rgb(228, 236, 239);
}

.box2 {
    font-size: 18px;
    background-color: rgb(248, 224, 242);
}

.box3 {
    font-size: 18px;
    background-color: rgb(245, 231, 181);
}

.form-section {
    background-color: rgb(250, 242, 214);
    margin: 100px 200px;
    padding: 100px 150px;


}

.finput-add {
    border: 1px solid black;
    border-radius: 10px;
}

.email {
    background-color: rgb(203, 198, 198);
    padding: 20px 50px;
    margin-left: 150px;
    color: gray;
    font-size: 20px;
    font-weight: 2000px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.button {
    margin-left: o;
    background-color: rgb(246, 84, 84);
    padding: 20px 50px;
    color: white;
    font-size: 20px;
    font-weight: 2000px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px;
}

footer h1 {
    color: rgb(228, 87, 87);
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

.help {
    font-size: 15px;
    padding: 20px 20px;
    border: 1px solid blue;

    width: 50%;
    background-color: rgb(241, 219, 179);
}

.how-donation {
    box-shadow: 10px 10px 40px rgba(78, 103, 216, 0.911);

}

.how-donation-head {

    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    color: rgb(49, 2, 2);

}