.header-section {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    color: white;
    padding-bottom: 200px;
    padding-top: 150px;
    font-size: 27px;
    text-align: center;
}

.head {
    font-size: 60px;

}

.link-button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(243, 76, 76);
}

.donate-section {
    text-align: center;
    font-size: 25px;

}



.flexible-container {
    color: rgb(80, 75, 75);
    font-size: 40px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;

}

.divide-width {
    width: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 15px;
    background-color: rgb(248, 243, 243);

}

.color-red {
    color: red;
    border: 2px solid red;
    background-color: rgb(246, 216, 235);
    border-radius: 10px;

}

.input {
    font-size: 25px;

    color: grey;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid rgb(164, 160, 160);
    text-align: center;
    padding: 15px 200px;
    margin: 50px;
}

.new-flexible-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.box-divide {
    width: 30%;
    margin: 10px;
    padding: 40px;
    text-align: left;

}

.box-divide p {
    color: gray;
}

.box-divide img {
    padding-left: 2px;
    padding-right: 200px;
}

.box1 {
    font-size: 18px;
    background-color: rgb(228, 236, 239);
}

.box2 {
    font-size: 18px;
    background-color: rgb(248, 224, 242);
}

.box3 {
    font-size: 18px;
    background-color: rgb(245, 231, 181);
}